<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Style-Type" content="text/css">
    <title>
        Search result for <%= queryString %>
    </title>
    <link rel="stylesheet" href="/assets/styles/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/styles/default.css">
    <link rel="stylesheet" href="/assets/styles/human.list.css">
</head>

<body>
    <div class="container">
        
        <div class="row">
            <p><h4>Search result for <span class="i b"><%= queryString %></span></h4></p>
            <hr />
        </div>

        <% if (results.length === 0) { %>
        <div class="row not-found" name="404">
            <p>Nothing Here!</p>
        </div>
        <% } %>

        <% if (results.length > 0) { %>
        <div class="row">
            <div class="col m12 s12 l12">
                <table class="bordered striped">
                    <thead>
                        <th>Name</th>
                    </thead>
                    <tbody>
                        <% results.forEach(function (result) { %>
                        <tr>
                            <td width="25%">
                                <img class="materialboxed z-depth-5" src="<%= result.photos[0] %>">
                            </td>
                            <td width="75%">
                                <div class="my-value">
                                    <p class="name">
                                        <a href="javascript:void(0)" 
                                            onclick="openLink('<%= result['local-url'] %>')">
                                            <%= result.name.og %>
                                        </a>
                                    </p>
                                    <p class="transname"><%= result.name.en %></p>
                                    <p class="url">
                                        <a href="javascript:void(0)" 
                                            onclick="openLink('<%= result.url %>')">
                                            www.minnano-av.com
                                        </a>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>

            <% if (more) { %>
        <div class="row more-btn">
            <a class="waves-effect waves-light blue lighten-1 btn" 
                href="javascript:void(0)" onclick="openLink('<%= url %>')">
                More
            </a>
        </div>
            <% }; %>
        <% }; %>
        
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/assets/scripts/base.js"></script>
</body>

</html>